[submodule "cosmos"]
	path = cosmos
	url = https://github.com/NVIDIA/cosmos.git
[submodule "Isaac-GR00T"]
	path = Isaac-GR00T
	url = https://github.com/NVIDIA/Isaac-GR00T.git
[submodule "GR00T-WholeBodyControl"]
	path = GR00T-WholeBodyControl
	url = https://github.com/NVlabs/GR00T-WholeBodyControl.git
[submodule "cosmos-framework"]
	path = cosmos-framework
	url = https://github.com/NVIDIA/cosmos-framework.git
[submodule "lerobot"]
	path = lerobot
	url = https://github.com/huggingface/lerobot.git
[submodule "DISCOVERSE"]
	path = DISCOVERSE
	url = https://github.com/discoverse-dev/DISCOVERSE.git
